# Exclude everything
*

!addons
!addons/**
!.github
!.github/**
!.assets
!.assets/**
!LICENSE
!README.md

# This is needed otherwise the gitignore will ignore itself.
!.gitignore
!.gitattributes
!.git